.page-inner{
  max-width: 85%;
}

.grid-col{
  min-height: 60px;
  min-width: 50px;
  border: 1px #ccc dashed;
}
.j-flex-layout>div{
  min-height: 60px;
  min-width: 50px;
  border: 1px #ccc dashed;
}