html, body, p {
  margin: 0;
}
#book-wrapper-id {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: calc(100% - 56px);
}

#apaas-header.home-nav-bar {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: #fff;
  padding-left: 48px;
  padding-right: 48px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1);
}
#apaas-header .header-logo {
  margin-right: 40px;
}

#apaas-header .header-logo img {
  vertical-align: middle;
  width: 100px;
}

#apaas-header .menu-left {
  margin: 0;
  padding: 0;
}

#apaas-header .menu-left .menu-item {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}
#apaas-header .menu-left #home {
  display: none;
}
#apaas-header .menu-left .menu-item a {
  color: #515A6E;
  opacity: 1;
}
#apaas-header .menu-left .menu-item a:hover {
  color: #447DFF;
}

#apaas-header .menu-left #product:hover .menus-modal {
  visibility: visible;
}
#apaas-header .menu-left .menu-item .menus-modal{
  visibility: hidden;
  max-width: 840px;
  min-width: 600px;
  width: 55vw;
  font-family: PingFangSC-Regular;
  line-height: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  padding: 38px 48px 22px;
  position: absolute;
  left: -160px;
  z-index: 1001;
}
#apaas-header .menu-left  .menus-modal .product-list {
  width: 100%;
  column-count: 3;
}
#apaas-header .menu-left  .menus-modal .product-list .product-item {
  padding: 10px 0;
  break-inside: avoid;
}
#apaas-header .menu-left  .menus-modal .group-title {
  margin-bottom: 16px;
  line-height: 14px;
  font-size: 14px;
  color: #447dff;
}
#apaas-header .menu-left  .menus-modal .content .title a {
  line-height: 12px;
  font-size: 14px;
  color: #17233d;
  cursor: pointer;
}
#apaas-header .menu-left  .menus-modal .content .title a:hover {
  color: #447dff;
}
#apaas-header  .menu-left .menus-modal .content .desc {
  padding: 2px 0 12px;
  line-height: 12px;
  font-family: PingFangSC-Light;
  font-size: 12px;
  color: #515a6e;
}


#apaas-header .menu-right a {
  vertical-align: middle;
  padding: 10px 16px;
  border: 1px solid #447DFF;
  color: #447DFF;
  border-radius: 4px;
}
#apaas-header .menu-right a:hover {
  color: #fff;
  background: #447DFF;
}
#apaas-header .float-left {
  float: left;
}
#apaas-header .float-right {
  float: right;
}
#apaas-header .clearfix {
  zoom: 1;
}
#apaas-header .clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.lang-schema-parent{
  height:200px;
  overflow:auto;
}

.ant-form-item .j-select-base,.ant-form-item  .j-tree-base, .ant-form-item .ant-slider,.ant-form-item  .j-table-wrapper,.ant-form-item .j-input-group ,.ant-form-item .ant-select ,.ant-form-item .ant-cascader-picker {
  
    width:100%;
 
}