<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.workflow.console.dao.mapper.usecase.CaseSetExeLogMapper">

    <select id="queryRequirementCodes" resultType="string">
        SELECT DISTINCTROW related_requirement_code
        FROM requirement_info r
        JOIN case_set_exe_log l ON c.id = l.requirement_id
        WHERE r.yn = 1
        AND l.yn = 1
        AND l.branch_name = #{query.branchName} and l.coding_address = #{query.codingAddress}
    </select>
</mapper>
