<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.workflow.console.dao.mapper.HttpAuthMapper">

    <select id="queryList" parameterType="com.jd.workflow.console.dto.QueryHttpAuthReqDTO" resultType="com.jd.workflow.console.entity.HttpAuth">
        select  o.id,o.site,o.app_code,app.app_name,o.auth_code,app.members,
        o.yn,o.creator,o.modifier,o.created,o.modified
        from http_auth o
        left join app_info app on o.app_code = app.app_code
        where
        o.yn = 1

        <if test="site !=null">
            and o.site = #{site}
        </if>

        <if test="authCode !=null">
            and o.auth_code = #{authCode}
        </if>
        <if test="authInfo !=null">
            and (o.auth_code like concat('%',#{authInfo},'%'))
        </if>

        <if test="appCode != null">
            and o.app_code = #{appCode}
        </if>

        <if test="appName !=null">
            and o.app_name = #{appName}
        </if>

        <if test="appInfo !=null">
            and (o.app_code like concat('%',#{appInfo},'%') or o.app_name like concat('%',#{appInfo},'%'))
        </if>

        order by o.id desc
        limit #{offset}, #{pageSize}
    </select>


    <select id="queryListCount" parameterType="com.jd.workflow.console.dto.QueryHttpAuthReqDTO" resultType="long">
        select count( distinct o.id)
        from http_auth o
        left join app_info app on o.app_code = app.app_code
        where
        o.yn = 1
        <if test="site !=null">
            and o.site = #{site}
        </if>

        <if test="authCode !=null">
            and o.auth_code = #{authCode}
        </if>

        <if test="authInfo !=null">
            and (o.auth_code like concat('%',#{authInfo},'%'))
        </if>

        <if test="appCode != null">
            and o.app_code = #{appCode}
        </if>

        <if test="appName !=null">
            and o.app_name = #{appName}
        </if>

        <if test="appInfo !=null">
            and (o.app_code like concat('%',#{appInfo},'%') or o.app_name like concat('%',#{appInfo},'%'))
        </if>

    </select>


    <select id="queryListGroupByAppAndSite" parameterType="com.jd.workflow.console.dto.QueryHttpAuthReqDTO" resultType="com.jd.workflow.console.entity.HttpAuth">
        select distinct o.id, o.site,o.app_code,o.app_name,o.auth_code,app.members,
        o.yn,o.creator,o.modifier,o.created,o.modified
        from http_auth o
        left join app_info app on o.app_code = app.app_code
        where
        o.yn = 1

        <if test="site !=null">
            and o.site = #{site}
        </if>

        <if test="authCode !=null">
            and o.auth_code = #{authCode}
        </if>

        <if test="authInfo !=null">
            and (o.auth_code like concat('%',#{authInfo},'%'))
        </if>

        <if test="appCode != null">
            and o.app_code = #{appCode}
        </if>

        <if test="appName !=null">
            and o.app_name = #{appName}
        </if>

        <if test="appInfo !=null">
            and (o.app_code like concat('%',#{appInfo},'%') or o.app_name like concat('%',#{appInfo},'%'))
        </if>
        group by o.app_code,o.site
        limit #{offset}, #{pageSize}
    </select>


    <select id="queryAllList" parameterType="com.jd.workflow.console.dto.QueryHttpAuthReqDTO" resultType="com.jd.workflow.console.entity.HttpAuth">
        select  o.id,o.site,o.app_code,app.app_name,o.auth_code,app.members,
        o.yn,o.creator,o.modifier,o.created,o.modified
        from http_auth o
        left join app_info app on o.app_code = app.app_code
        where
        o.yn = 1

        <if test="site !=null">
            and o.site = #{site}
        </if>

        <if test="authCode !=null">
            and o.auth_code = #{authCode}
        </if>

        <if test="authInfo !=null">
            and (o.auth_code like concat('%',#{authInfo},'%'))
        </if>

        <if test="appCode != null">
            and o.app_code = #{appCode}
        </if>

        <if test="appName !=null">
            and o.app_name = #{appName}
        </if>

        <if test="appInfo !=null">
            and (o.app_code like concat('%',#{appInfo},'%') or o.app_name like concat('%',#{appInfo},'%'))
        </if>

        order by o.id desc
    </select>

</mapper>
