<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.workflow.console.dao.mapper.MethodManageMapper">
    <select id="queryInterfaceTypeCount" resultType="com.jd.workflow.console.dto.doc.InterfaceTypeCount">
      select `type` as type,count(*) as count from method_manage
      where  yn = 1 and interface_id in (select id from interface_manage where
      1=1
      <if test="appId==0">
         and app_id is null
        and id in (
        select resource_id from member_relation where yn = 1
        and resource_type = 1 and user_code = #{currentUser}

          )
      </if>
      <if test="appId!=0">
             and app_id = #{appId}
      </if>

      and yn = 1)
      group by type
    </select>

    <select id="queryInterfaceMethodCount" resultType="com.jd.workflow.console.dto.doc.AppInterfaceCount">
     select interface_id as interfaceId,max(type) as type,count(*) as count from method_manage
       where interface_id in (select id from interface_manage where
    1=1
        <if test="appId==0">
            and app_id is null
            and id in (
            select resource_id from member_relation where yn = 1
            and resource_type = 1 and user_code = #{currentUser}

            )
        </if>
        <if test="appId!=0">
            and app_id = #{appId}
        </if>
         and yn = 1) and yn = 1
       group by interface_id
    </select>
</mapper>
