<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.workflow.console.dao.mapper.PublishManageMapper">

    <select id="queryPublishMethodList"  resultType="com.jd.workflow.console.dto.PublishMethodDTO">
        select o1.id,o1.is_latest,o1.cluster_id,o1.related_method_id,o1.version_id,o1.modified,o1.modifier,o2.name method_name,o2.method_code,o2.interface_id,o3.name interface_name,o3.service_code,o2.type
        from publish_manage o1
        left join method_manage o2 on o1.related_method_id=o2.id
        left join interface_manage o3 on o2.interface_id = o3.id
        where
        o1.yn = 1
        <if test="clusterId!=null">
            and o1.cluster_id = #{clusterId}
        </if>
        <if test="methodName!=null">
            and o2.name like concat('%',#{methodName},'%')
        </if>
        <if test="interfaceName!=null">
            and o3.name like concat('%',#{interfaceName},'%')
        </if>
        order by o1.modified desc
        limit #{offset}, #{limit}
    </select>
    <select id="queryPublishMethodCount" resultType="long">
        select count(o1.id)
        from publish_manage o1
        left join method_manage o2 on o1.related_method_id=o2.id
        left join interface_manage o3 on o2.interface_id = o3.id
        where
        o1.yn = 1
        <if test="clusterId!=null">
            and o1.cluster_id = #{clusterId}
        </if>
        <if test="methodName!=null">
            and o2.name like concat('%',#{methodName},'%')
        </if>
        <if test="interfaceName!=null">
            and o3.name like concat('%',#{interfaceName},'%')
        </if>
    </select>

</mapper>