<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean class="com.jd.workflow.metrics.registry.TitanRegistry" init-method="init">
        <property name="titanRequestClient" ref="titanRequestClient" />
    </bean>
    <bean name="titanRequestClient" class="com.jd.workflow.metrics.client.TitanRequestClient" >
        <constructor-arg value="eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOnsibmFtZSI6ImRlbW8iLCJyb2xlcyI6WyJTT1VSQ0VfT1dORVI6ZGVtbyJdfSwiaWF0IjoxNjI5MzU5MDY5LCJpc3MiOiJ0aXRhbiJ9.Qylk4yn2Uni4twiylY3ufWdplnTlgh4VdO0p_6Oinp60-NksZ3U40w12y0oomcw1bTcPPw7zJmui2oi6L1Vn-Q" />
    </bean>

</beans>

